@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 91% 33%;
    --primary-foreground: 0 0% 98%;
    --primary-hover: 217 91% 28%;
    --secondary: 30 94% 49%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 93% 39%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 217 91% 33%;

    --background-light: 60 9% 98%;
    --foreground-light: 0 0% 7%;
    --card-light: 60 9% 96%;
    --card-foreground-light: 0 0% 7%;
    --popover-light: 60 9% 96%;
    --popover-foreground-light: 0 0% 7%;
    --primary-light: 217 91% 60%;
    --primary-foreground-light: 0 0% 98%;
    --primary-hover-light: 217 91% 55%;
    --secondary-light: 30 94% 49%;
    --secondary-foreground-light: 0 0% 98%;
    --muted-light: 60 9% 90%;
    --muted-foreground-light: 0 0% 45%;
    --accent-light: 0 93% 60%;
    --accent-foreground-light: 0 0% 98%;
    --destructive-light: 0 84.2% 60.2%;
    --destructive-foreground-light: 0 0% 98%;
    --border-light: 0 0% 80%;
    --input-light: 0 0% 80%;
    --ring-light: 217 91% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border dark:border-border-light;
  }
  body {
    @apply bg-background text-foreground dark:bg-background-light dark:text-foreground-light;
  }
}

